/*This roots the colors of the site.*/
:root{
    --dark: #1c1c1c;
    --light: #888888;
    --purple: #0d0310;
}
/*Wildcard to set background color and font.*/
* {
    background-color: var(--dark);
    color: var(--light);
    font-family:'Times New Roman', Times, serif;
}

main {
    display: flex;
    flex-wrap: wrap;
}

h1 {
    font-size: 50px;
}

/*Class to set title and nav bar.*/
.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background-color: var(--dark);
    color: var(--light);
}
/*Class to set nav bar.*/
nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 500px;
    list-style: none;
    font-size: 25px;
    text-decoration-line: underline;
}
/*Class to set nav bar.*/
nav a {
    background-color: unset;
    color: var(--light);
    font-weight: bold;
    text-decoration: none;
}

nav a:hover {
    color:white
}
/*Sets the size of pattern image.*/
.pattern {
    display: flex;
    width: 1400px;
    height: 1060px;
}

/*Sets rules for about me header.*/
h2 {
    width: 10%;
    font-size: 70px;
    padding-right: 80px;
    margin-top: 100px;
    text-align: end;
    word-spacing: 10px;
}
/*Sets rules for work header.*/
h3 {
    display: flex;
    width: 10%;
    float: left;
    font-size: 70px;
    padding-right: 290px;
    padding-bottom: 1180px;
    margin: 0;
    text-align: end;
    word-spacing: 20px;
    border-right: 5px solid var(--purple);
}
/*Sets rules for contact me header.*/
h4 {
    display: flex;
    width: 10%;
    float: left;
    font-size: 70px;
    padding-right: 290px;
    padding-bottom: 90px;
    text-align: right;
    border-right: 5px solid var(--purple);
    margin-top: 30px;
    margin-right: 1000px;
}
/*Sets rules for about me picture.*/
.picture {
    display: flex;
    position: relative;
    width: 20%;
    height: 330px;
    float: left;
    margin-left: 250px;
    margin-top: -220px;
    border-style: solid;
    border-color: var(--purple);
}
/*Sets rules for about me text.*/
.info {
    display: flex;
    float: right;
    font-size: 40px;
    margin-top: -350px;
    padding: 10px;
    padding-left: 670px;
    margin-right: 0px;
}
/*Sets rules for larger work card.*/
.card {
    display: flexbox;
    border-style: solid;
    border-width: 10px;
    float: left;
    width: 40%;
    position: relative;
    text-align: center;
    color: var(--dark);
    margin-left: 150px;
}

.card header {
    border-style: solid;
    border-left: var(--dark);
    border-color: var(--purple);
}
/*Puts card header on the left side of card.*/
.left {
    position: absolute;
    bottom: 30px;
    left: 0px;
    padding: 10px;
  }
/*Sizes the large work image card.*/
.image {
    height: 600px;
    width: 900px;
    opacity: 1;
}
/*Sets rules for smaller card that is on the left.*/
.lcard {
    display: flexbox;
    border-style: solid;
    border-width: 9px;
    float: left;
    width: 20%;
    position: relative;
    text-align: center;
    color: var(--dark);
    margin-left: 150px;
}

.lcard header {
    border-style: solid;
    border-left: var(--dark);
    border-color: var(--purple);
}
/*Sets rules for small work image.*/
.simage {
    height: 300px;
}

.simage2 {
    height: 300px;
    width: 400px;
}
/*Sets rules for smaller card that is on the right.*/
.rcard {
    display: flexbox;
    border-style: solid;
    border-width: 9px;
    float: right;
    width: 20%;
    position: relative;
    text-align: center;
    color: var(--dark);
    margin-right: 355px;
}

.rcard header {
    border-style: solid;
    border-left: var(--dark);
    border-color: var(--purple);
}
/*Sets rules for contact footer.*/
.contact {
    display: flex;
    float: left;
    font-size: 25px;
    margin-top: 130px;
    margin-right: 100px;
    margin-left: -883px;
    column-gap: 189px;
    list-style-type: none;
}

footer a:hover {
    color:white
}

main a:hover {
    opacity: 0.5;
}
/*Sets rules when webpages gets 961px or smaller.*/
@media screen and (max-width: 961px) {
 
nav ul {
        float: none;
        width: 100%;
    }
  
.card {
    width: 50%;
    float: right;
    margin-top: -1200px;
  }

  .lcard {
    margin-top: -580px;
    margin-left: 512px;
    flex-wrap: wrap;
  }

  .rcard {
    margin-top: -100px;
    margin-right: 100px;
    flex-wrap: wrap;
  }

.picture  {
    height: 600px;
    width: 50%;
    margin-top: -300px;
  }

.info {
    padding-left: 740px;
    margin-top: -620px;
    margin-right: -900px;
  }
}